@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Lato:wght@400;700&display=swap');

/* Elements styles*/
body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    background-color: #219EBC;
}

nav a {
    text-align: center;
    color: #4D4D4D;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #219EBC;
    color: white;
    text-decoration: none;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

footer {
    background-color: #219EBC;
    color: white;
    padding: 25px, 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #FFB703;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

h2 {
    margin: 0;
}

h4 {
    color: #4D4D4D;
}

/* IDs styles */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

#background {
    height: 725px;
    background-color: #219EBC;
}

#logo_link {
    padding-top: 5px;
}

/* Classes styles */
.home-title {
    color: white;
    font-family: 'Darumadrop One', cursive;
    font-size: 2em;
    margin-top: 10px;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #FFB703;
}

.msg {
    background-color: white;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #4D4D4D;
    font-family: 'Darumadrop One', cursive;
}

.msg p {
    color: #4D4D4D;
    font-size: .8em;
    padding-bottom: 15px;
}

.card-img {
    border: 10px solid black;
}

.rivers-card, .camping-card, .rapids-card { 
    margin: 200px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}